body {
    font-family: 'Times New Roman', Arial, serif;
    background-color: rgb(32, 32, 32);
    color: white;
}
h1 {
    text-align: center;
}
h5 {
    font-style: italic;
}
li a{
    color: white;
}
li a:visited{
    color: rgb(55, 58, 182);
}



